
/sfml project 1/files
/.vs
/x64
/sfml project 1/x64
sfml project 1/stockfish-windows-x86-64-avx2.exe
sfml project 1/sfml project 1.vcxproj.user
sfml project 1/sfml project 1.vcxproj.filters
sfml project 1/sfml project 1.vcxproj
sfml project 1.sln
